html {
  font-size: 150%;
}

body {
  font-family: var(--font-primary);
  line-height: 1.7;
  color: var(--text);
  background: var(--bg);
}

a {
  text-decoration: none;
  color: var(--text);
}

img {
  max-width: 100%;
}

#home {
  display: flex;
  justify-content: space-between;
}

#swup-content {
  flex: 1;
  margin: 3.125rem 0 0;
  font-size: 0.75rem;
}

.bio-myname {
  font-size: 1.5em;
}

.wrapper {
  width: 90%;
  margin-bottom: 6%;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5%;
}

.subtitle-line {
  height: 2.25em;
  width: 0;
  border-left: 0.25em solid var(--accent-line);
  align-self: center;
}

.subtitle {
  font-size: 1.8em;
  padding-left: 0.7em;
  align-self: center;
  color: var(--accent-title);
}

.content-list {
  list-style-position: inside;
}

.content-list .other-list-item {
  text-indent: -1em;
  padding-left: 1em;
}

.sub-subtitle-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5%;
}

.sub-subtitle-line {
  height: 1.75em;
  width: 0;
  border-left: 0.22em solid var(--sub-subtitle-line);
  align-self: center;
}

.sub-subtitle {
  color: var(--sub-subtitle-text);
  font-size: 1.25em;
  padding-left: 0.7em;
  align-self: center;
}
