.button-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 9.0625rem;
}

.button-container-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 14.0625rem;
}

.small-logo {
  width: 0.9375rem;
  height: 0.9375rem;
}

.pdf-button a span,
.slide-button a span {
  font-size: 0.875rem;
  color: var(--text);
}

.pdf-button a,
.slide-button a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.25rem 0 0;
  height: 1.75rem;
  padding: 0;
  transition: 0.3s ease-in-out;
  background: var(--button-bg);
  border-radius: 4%;
  z-index: 0;
  overflow: hidden;
}

.pdf-button a {
  width: 4.0625rem;
}

.slide-button a {
  width: 4.375rem;
}

.pdf-button a::after,
.slide-button a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  display: block;
  background: var(--button-hover);
  transition: 0.3s;
}

.pdf-button a:hover::after,
.slide-button a:hover::after {
  width: 100%;
  z-index: -1;
}

.prize-button span {
  font-size: 0.875rem;
  color: var(--text);
}

.prize-button {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.25rem 0 0;
  height: 1.75rem;
  width: 4.375rem;
  padding: 0;
  transition: 0.3s ease-in-out;
  background: var(--accent-bg);
  border-radius: 4%;
  z-index: 0;
  overflow: hidden;
}
