.timeline {
  margin-top: 2%;
}

.timeline li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  margin: 0;
}

.timeline-date {
  position: relative;
  width: 6.25rem;
  font-weight: bold;
  font-size: 1rem;
  color: var(--text-light);
  margin-top: 1.5625rem;
  text-align: center;
  line-height: 1.2;
}

.timeline-content-wrapper {
  width: 75%;
  float: left;
  border-left: 0.1875rem var(--timeline-border) solid;
  padding: 0 0 0 2.5rem;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.5625rem;
}

.timeline-content-wrapper .end {
  margin-bottom: 2.1875rem;
}

.timeline-content h3 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 0.1rem;
}

.timeline-content p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--text-light);
}

.timeline-date::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background: var(--accent);
  position: absolute;
  left: 6rem;
  top: 0.5rem;
  border-radius: 100%;
}
