{% set contentData = timeline.locales[locale] %}
<div class="wrapper animate-in delay-1">
  <div class="subtitle-container">
    <div class="subtitle-line"></div>
    <h2 class="subtitle">Biography</h2>
  </div>
  <ul class="short-cv timeline content-list">
    {% for item in contentData.biography %}
      <li class="scroll-reveal">
        <p class="timeline-date">{{ item.date | safe }}</p>
        <div class="timeline-content-wrapper">
          <div class="timeline-content end">
            <h3>{{ item.title }}</h3>
            {% if item.description %}<p>{{ item.description }}</p>{% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Others -->
<div class="wrapper animate-in delay-2">
  <div class="sub-subtitle-container">
    <div class="sub-subtitle-line"></div>
    <h3 class="sub-subtitle">Others</h3>
  </div>
  <ul class="short-cv timeline content-list">
    {% for item in contentData.others %}
      <li class="scroll-reveal">
        <p class="timeline-date">{{ item.date | safe }}</p>
        <div class="timeline-content-wrapper">
          <div class="timeline-content end">
            <h3>{{ item.title }}</h3>
            {% if item.description %}<p>{{ item.description }}</p>{% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Internship -->
<div class="wrapper animate-in delay-3">
  <div class="sub-subtitle-container">
    <div class="sub-subtitle-line"></div>
    <h3 class="sub-subtitle">Internship</h3>
  </div>
  <ul class="content-list">
    {% for internship in contentData.internships %}
      <li class="other-list-item scroll-reveal">{{ internship | safe }}</li>
    {% endfor %}
  </ul>
</div>
