---
import { getEntry, render } from "astro:content";
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";

const aboutPost = await getEntry("specs", "about");
const { Content } = await render(aboutPost!);
---

<Main>
  <div class="article-wrapper">
    <div class="article">
      <Markdown>
        <Content />
      </Markdown>
    </div>
  </div>
</Main>

<style>
  .article-wrapper {
    @apply w-full rounded-2xl bg-[var(--card-color)] p-10;
  }
  .article {
    @apply flex flex-col;
  }
</style>
